@charset "UTF-8";
@font-face {
    font-family: 'droid';
    src: url('fontes/idroid.otf');
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:aquamarine;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
strong{
    color: rgb(0, 46, 0);
}
header{
    background-image: linear-gradient(to bottom, lightgreen, darkgreen);
    height: 150px;
    text-align: center;
    padding-top: 35px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.384);
}
header h1{
    margin-bottom:25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.39);

    
}
header p{
    font-weight: 600;
    margin:0px 50px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.39);
}
nav{
    background-color:darkgreen;
    padding-bottom: 7px;
    
}
nav a {
    color:white;
    text-decoration:none;
    margin:0px 15px 0px 0px;
    padding:7px 2px;
}
nav a:hover{
    background-color:lightgreen;
    color: green;
    border-radius: 3px;
    margin:0px 15px 0px 0px;
    padding:7px 2px;
    transition: 0.2s;
    
}
.externo::after {
    content:"\1F517";
}
main .video{
    background-color:rgb(0, 70, 0);
    margin:10px -10px;
    position:relative;
    padding:20px;
    padding-bottom: 55%;
    
}
iframe{
    position:absolute;
    top:2.5%;
    left:2.5%;
    width:95%;
    height:95%;

}
main a {
    text-decoration: none;
    background-color:rgb(87, 218, 87);
    margin:0px 5px;
    padding:2px;
    color:black;
    border-radius:5px;
}

main a:hover {
    background-color: rgb(0, 94, 0);
    color:rgb(185, 255, 185);
    border-radius:5px;
}

main{
    max-width: 800px;
    min-width:350px;
    background-color:white;
    margin: auto;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.226);
    padding: 10px;
}
main h1 {
    background-image: linear-gradient(to right, rgb(57, 136, 57), transparent);
    padding:5px;
    border-radius: 5px;
    font-family: droid;
}
main h2 {
    background-image: linear-gradient(to right, rgb(92, 189, 92), transparent);
    padding:3px;
    border-radius: 5px;
    font-family: droid;
    font-size: 1.4em;
    margin:10px 0px;
}
main p {
    line-height: 24px;
    text-indent:20px;
}
aside{
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.226);
    background-color:white;
    max-width: 800px;
    min-width: 350px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    
}
aside ul {
    list-style-type: "\2714";
    columns: 2;
    list-style-position: inside;
}
aside p{
    line-height: 23px;
    padding:5px;
}
aside a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 95, 0);
    padding:3px;
    border-radius: 5px;
}
aside a:hover{
    background-color: rgb(47, 224, 47);
    color:black
    
}
aside h3{
    background-color: green;
    color:white;
    border-radius: 10px 10px 0px 0px;
    margin:-10px -10px 0 -10px;
    padding: 5px;

}
aside article{
    background-color:rgb(87, 196, 87);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}
footer{
    text-align: center;
    background-color:rgb(0, 85, 0);
    color:white;
}
img{
    width: 100%;
}
.bug{
    max-width: 300px;
    margin: auto;
    display: block;
}